body {
    background-color: rgb(14, 14, 26);
    color:white;
  }


.col{
    border:1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-10{
    border:1px solid white;

}

.col-2{
    border:1px solid white;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    margin-left:auto;
    width:100%;
}
.container-fluid{
    border:1px solid white;
    margin-top:10px;

}



.loginButton{
    color: gray;

}

.loginBox{
    margin: auto;
    margin-top:20%;
    
}


.loginBox2{
    margin: auto;
    
    width: 30%;
    border: 3px solid whitesmoke;
    border-radius: 3px;
    padding: 10px;
}

.loginHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:white;
}

.loginName{

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPassword{

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginRecover{

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginSubmit{
    display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
    color:rgb(255, 255, 255);
    background-color: rgb(23, 82, 150);
}

.btn:hover {
   
    color: white;
  }